<%- include('../partials/navbar.ejs') %>
<div class="container">
    <h1>Home</h1>
  
    <div id="home-container"></div>
</div>

<script src="homeUtil.js"></script>
<%- include('../partials/footer.ejs') %>